* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    font-family: "Quicksand", sans-serif;
    background-color: rgb(236, 254, 255);
}

.headerContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.mainHeader {
    width: 92%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.headerText {
    font-size: 34px;
    color: rgb(134, 134, 134);
}

.headerIcon {
    margin-right: 28px;
    width: 60px;
    opacity: 48%;
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
}

.formContainer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    background-color: rgb(245, 255, 251);
    border-top: 2px solid rgb(194, 194, 194);
    border-bottom: 2px solid rgb(214, 214, 214);
}

.uploadForm {
    display: inline-flex;
    width: 90%;
    justify-content: space-around;
}

.almostHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    border-bottom: 2px solid rgb(214, 214, 214);
    margin-bottom: 20px;
    background-color: rgba(205, 221, 255, 0.226);
}

.almostHeader {
    font-size: 26px;
    letter-spacing: 1px;
    color: rgb(90, 90, 90);
}

.actualImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

.picInt {
    height: 290px;
    width: 100%;
}

.picturesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    column-gap: 20px;
    padding-left: 35px;
    padding-right: 35px;
    justify-items: center;
}

.pictureCard {
    display: inline;
    width: 480px;
    height: 340px;
    border: 2px solid rgba(27, 26, 34, 0.383);
    border-radius: 2%;
    justify-content: center;
    padding: 6px;
    background: rgb(243, 246, 255);
    margin-bottom: 20px;
    box-shadow: 4px 3px 2px 1px rgba(128, 128, 128, 0.144);
    cursor: pointer;
}

.pictureTitle {
    margin: 5px;
    text-align: center;
    font-size: 16px;
    line-height: 100%;
    position: relative;
    top: 3px;
    font-size: 22px;
    color: rgb(28, 28, 59);
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 100vw;
    background-color: rgba(51, 0, 133, 0.301);
}

.footerText {
    font-size: 12px;
}

/* logo animation */

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.modalContainer {
    background-color: rgba(6, 24, 12, 0.493);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

.modalImage {
    width: 480px;
    height: 320px;
    border-radius: 2%;
    padding-bottom: 5px;
}

.modalImageName,
.modalImageDescription,
.modalImageAuthorAndDate {
    line-height: 22px;
    background-color: rgba(240, 248, 255, 0.767);
    padding-left: 10px;
    padding-right: 10px;
}

.modalImageName {
    font-size: 20px;
    letter-spacing: 1px;
}
.modalImageDescription {
    font-size: 14px;
}

.modalImageAuthorAndDate {
    font-size: 11px;
    letter-spacing: 1px;
}

.closeModalButton {
    position: fixed;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer;
}

.commentsContainer {
    height: 235px;
    width: 340px;
    background-color: rgba(255, 255, 255, 0.596);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}

.inputsContainer {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.commentInput {
    width: 200px;
    height: 18px;
}

.inputLabel {
    font-size: 14px;
}

.commentButton {
    position: relative;
    left: 235px;
    bottom: 42px;
}

.actualComment {
    height: 100px;
}

.commentsBox {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.comment {
    font-size: 18px;
    text-align: center;
}

.commentAuthor {
    position: relative;
    bottom: 20px;
    font-size: 15px;
    text-align: end;
    padding-right: 16px;
}

.commentDate {
    position: relative;
    bottom: 35px;
    font-size: 12px;
    text-align: end;
    padding-right: 16px;
}

.morePics {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadMorePics {
    display: inline;
}
